task_lecture_2/digital_signatur.png
task_lecture_2/simple_passwordpng.png
Signature/1 (1).png
Signature/1.png
Signature/2.png
Signature/3.png
Signature/4.png
Signature/5.png
Signature/Signature.
sol_task.docx
sol_task.pdf
Signature/Signature.rar